# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask cache and instance folders
instance/
*.db
*.sqlite3

# Virtual environments
venv/
.env/
.envrc

# macOS / Windows
.DS_Store
Thumbs.db

# Poetry files (optional: if using)
poetry.lock
*.egg-info/

# VS Code / JetBrains IDEs
.vscode/
.idea/

# Credentials & Secrets
credentials.json

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
.cache

# Compiled files
*.so
*.out
*.o

# PyInstaller
dist/
build/
