{% extends "base.html" %}

{% block title %}About – Curated Recipes{% endblock %}

{% block content %}
  <div class="about-box mx-auto" style="max-width: 700px;">
    <h1 class="text-center mb-4">📚 About This Project</h1>

    <p>👋 Hey there! I'm Katie (@ohitsmekatie), and this little site is a way to get recipes without endless scrolling. It's also a way for my friends and I to create a shared database of recipes we love.</p>

    <p>📋 Every recipe is pulled from a curated list in a shared Google Sheet. You can add to the sheet directly or submit a recipe with a link from the "Add a recipe" section of the site.</p>

    <p>🎲 Use the generator to get a random recipe by meal type (breakfast, lunch, dinner, snacks).</p>

    <p>🧪 Built w/ Flask</p>

  </div>
{% endblock %}
